@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CardPrint.css" rel="stylesheet" />
<button style="right:1rem;top:1rem;border: none;background-color: #790000;padding: 5px 15px;color: white;font-family: Poppins-SemiBold;cursor:pointer;" onclick="window.print()">Print</button>
<div class="card-member">
    <div style="position: absolute;width: 30%;height: 15%;padding:1px 1px 1px 1rem; background-color: white;right: 0;top:0px; border-bottom-left-radius: 2rem;">
        <img src="/bmotions/Assets/b_motion.png" width="100%">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Assets/icon_qr_code.png" width="100%" />
        </div>
        <div class="col-sm-6">
            <h1 style="font-size: 17px;font-weight: bold;margin-top: 10px;margin-bottom: 0;">Dimas Kurniawan</h1>
            <h3 style="font-size: 14px;">367406051292</h3>
            <h3 style="font-size: 14px;margin-top: 1.5rem;margin-bottom: 1rem;"><i class="fa fa-fw fa-phone"></i> 0812 8898 9663</h3>
            <h3 style="font-size: 14px;"><i class="fa fa-envelope"></i> dimas@mail.com</h3>
        </div>
    </div>
</div>

