@model BMotionReporting.Models.OrderModels
@{
    ViewBag.Title = "Pengambilan BBM";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" style="margin:10px">
        <p><i class="fa fa-warning"></i> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" style="margin:10px">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}
<h1><strong style="font-family:Arial">Pengambilan BBM</strong></h1>
<div class="card card-primary" style="width:50%">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="card-title">QR Code Scanner</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <video id="preview" width="500" height="500"></video>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalStruk"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <div id="data">
                    <div><h2 class="text-center"><strong style="font-family:Arial">Struk Pengambilan BBM</strong></h2><hr /><h1 class="text-center">SPBU 34.413.55</h1>
                        <div class="row"><div class="col-md-4 text-right"><h4>Premium</h4></div><div class="col-md-4 text-center"><h4>200 Lt</h4></div><div class="col-md-4"><h4>10.00</h4></div></div>
                        <div class="row"><div class="col-md-3"></div><div class="col-md-6 text-center"></div><div class="col-md-3"></div></div><h3 style="font-weight:bold">syarat & ketentuan</h3><p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p><hr /></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cetakOrder" class="btn btn-primary button button4">
                    Cetak
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalOrder"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2><strong style="font-family:Arial">Order BBM</strong></h2>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div id="fuelForm"></div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="OrderFuel()" class="btn btn-primary button button4">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var fuelLength = 0;
    //$("#modalStruk").modal('show');
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
        ShowStruck(content);
    });

    function ShowStruck(orderNo) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("StrukBBM", "Orders")",
            data: { orderNo: orderNo },
            success: function (response) {
                console.log(response);
                var _html = "";
                $(response).each(function (index, data) {
                    _html += "<div><h2 class=\"text-center\"><strong style=\"font-family:Arial\">Struk Pengambilan BBM</strong></h2><hr /><h1 class=\"text-center\">SPBU 34.413.55</h1>"
                    _html += "<div class=\"row\"><div class=\"col-md-4 text-right\"><h4>" + data.FuelName + "</h4></div><div class=\"col-md-4 text-center\"><h4>" + data.Liter + " Lt</h4></div><div class=\"col-md-4\"><h4>" + data.CreatedDate + "</h4></div></div>";
                    _html += "<div class=\"row\"><div class=\"col-md-3\"></div><div class=\"col-md-6 text-center\" id=\"qr"+index+"\"></div><div class=\"col-md-3\"></div></div><h3 style=\"font-weight:bold\">syarat & ketentuan</h3><p class=\"text-justify\">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p><hr /></div>"
                });
                document.getElementById("data").innerHTML = _html;

                $(response).each(function (index, data) {
                    var id = data.OrderDetailId;
                    console.log(id);
                    makeCode("qr" + index, id);
                });
                $("#modalStruk").modal('show');
            },
            error: function (response) {
                //alert(response)
            }
        });
    }

    function OrderFuel() {
        var fuel = [];
        var nip = "";
        var fuelId = "";
        var liter = "";

        for (var i = 0; i < fuelLength; i++) {
            if ($('#liter_' + i).val() != undefined && $('#liter_' + i).val() != "") {
                if (nip == "") {
                    nip = document.getElementById('nip_0').innerText;
                    fuelId = i + 1;
                    liter = $('#liter_' + i).val();
                }
                else {
                    var ii = i + 1;
                    nip += "," + document.getElementById('nip_0').innerText;
                    fuelId += "," + ii;
                    liter += "," + $('#liter_' + i).val();
                }

                fuel = [nip, fuelId, liter];
            }
        }

        $.ajax(
              {
                  type: "POST",
                  url: "@Url.Action("OrderFuel", "Orders")",
                  data: { arrValue: fuel },
                  success: function (response) {
                      $("#modalOrder").modal('hide');
                      ShowStruck(response.OrderNo);
                  },
                  error: function (response) {
                      //alert(response)
                  }
              });
    }

    function makeCode(id, orderNo) {
        
        var qrcode = new QRCode(id);
        qrcode.makeCode(orderNo);
    }

    Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);
        }
        else {
            console.error('No camera found');
        }
    }).catch(function (e) {
        console.error(e);
    });

    var specialKeys = new Array();
    specialKeys.push(8);
    function IsNumeric(e) {
        var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
        //document.getElementById("error").style.display = ret ? "none" : "inline";
        return ret;
    }
</script>